{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type = 'text/css' href="{% static 'menu/css/style_cafe_2023.css' %}" rel="stylesheet" />
    <style>

    </style>
</head>
<body>
  <div class = 'wrapper'>

        <div class = 'box_head ob'>

            <div class = 'but'>

                {% for i in menu %}
                {% if i == 'Меню' %}
                 <div class="dropdown">

                <button class = 'ob_btn_i' > Меню </button>
                    <div class="dropdown-content">
                       <a> <button class = 'ob_btn_i' href="#">Салаты</button> </a>
                       <a> <button class = 'ob_btn_i' href="#">Супы</button> </a>
                        <a><button class = 'ob_btn_i' href="#">Горячие блюда</button> </a>
                       <a> <button class = 'ob_btn_i' href="#">Напитки</button> </a>
                    </div>
                </div>

                {% else %}
                <button class = 'ob_btn'>{{i}}</button>
                {% endif %}
               {% endfor %}
            </div>
        </div>
        <div class = 'box_main ob'>
            <input type="radio" name="position" checked />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <input type="radio" name="position" />

            <main id="carousel">
                <div class="item"><img src = '{% static "menu/images/1407192823.jpg"%}'></div>
                <div class="item"><img src = '{% static "menu/images/goroh.jpg"%}'></div>
                <div class="item"><img src = '{% static "menu/images/blin.jpeg"%}'></div>
                <div class="item"><img src = '{% static "menu/images/machanka.jpg"%}'></div>
                <div class="item"><img src = '{% static "menu/images/mors.jpeg"%}'></div>

            </main>
        </div>
        <div class = 'box_under ob'>box_under</div>

  </div>

</body>
</html>